<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
@font-face { font-family: 'KimNamyun'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KimNamyun.woff') 
format('woff'); font-weight: normal; font-style: normal; }

*{
    font-family: 'KimNamyun'
}
</style>

<!DOCTYPE gtml>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <title>멋쟁이 사자처럼</title> 
    </head>
    <div class="jumbotron">
        <h1 class="my-4" style="color: green">1. 금융 IT서비스</h1>
        <p class="lead">저는 1년 동안 소학회에서 총무라는 임원직을 맡았습니다.<br>
            돈을 관리하는 임원인 만큼 금융적인 부분에서 쉽게 거래가 가능한 앱을 주로 사용했습니다.<br>
            멋쟁이 사자처럼 7기가 된다면 보다 금융적인 부분에서 높은 보완율이 존재하는 금융 IT서비스를 만들어보고 싶습니다.</p>
        <h1 class="my-4" style="color: green">2. 여행 맞춤 코스 앱</h1>
        <p class="lead">또한 한 달 동안 외국에서 생활해 본 경험이 있습니다.<br>
            생각보다 지역이 넓었기 때문에 주변에 존재하는 명소들도 못 갔던 적이 있었습니다.<br> 
            따라서 해외 도시명만 검색하면 코스까지 자동으로 추천되는 인공지능 기반의 해외여행 맞춤 코스 앱으로 더욱 더 편리하게 여행을 할 수 있는 앱을 만들고 싶습니다.<br>
            더불어 외국에 가게 되면 현지 음식에 적응하기 어려운 한국인들에게 맞춤형인 한식점이나 한식마트를 빠른 시간에 갈 수 있도록 최적 경로를 안내해주는 앱도 만들어 보고 싶습니다.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">thank you</a>
      </div>
</html>